


<div class="container my-4">
  <h2 class="text-warning p-1 bg-secondary">Highlighter Directive</h2>
  <div class="row mb-3">
    <div class="col">
      <h4 basicCss class="inline-block"> using Selector</h4>
       <span basicCss >
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis est esse aliquid minus fugit quos dolor in natus facilis earum!
       </span>
    </div>
   <div class="col-md-4">
     <h4  basicCss> using @Input</h4>
      <p  basicCss [highlightClass]="'bg-warning'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur inventore impedit aut consequuntur cumque magni eius iure nisi animi.</p>
   </div>
    <div class="col-md-4">
     <h4  basicCss  [newHighLightClass]="'text-warning'"> using @Input</h4>
      <p  basicCss [newHighLightClass]="'bg-danger'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur inventore impedit aut consequuntur cumque magni eius iure nisi animi.</p>
   </div>
  </div>
  <h2 class="text-warning p-1 bg-secondary">Lowercase custom Directive Using Renderer</h2>
  <div class="row mb-3">
     <div class="col-md-6">
      <h2 basicCss class="text-warning p-1 ">Using only KeyUp event</h2>
       <input appLowercase type="text" class="form-control">
     </div>
     <div class="col-md-6">
      <h2  basicCss class="text-warning p-1 ">Using  KeyUp event and $event </h2>
       <input appLowercase type="text" class="form-control">
     </div>
  </div>
    <h2 class="text-warning p-1 bg-secondary">CreditCard custom Directive Using Renderer</h2>
    <div class="row mb-3">
        <div class="col-md-6">
       <input appcreditCard type="text" class="form-control">
     </div>
    </div>
        <h2 class="text-warning p-1 bg-secondary">Navbar Toggle custom Directive</h2>
        <div class="row mb-5">
          <div class="col-md-6">
              <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar scroll</a>
            <button appisOpenNavbar class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div   class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form class="d-flex">
                <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
          </div>
        
        </div>
</div>
