

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h4 basicCss class="inline-block"> using Selector</h4>
       <span basicCss >
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis est esse aliquid minus fugit quos dolor in natus facilis earum!
       </span>

    </div>
   <div class="col-md-4">
     <h4  basicCss> using @Input</h4>
      <p  basicCss [highlightClass]="'bg-warning'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur inventore impedit aut consequuntur cumque magni eius iure nisi animi.</p>
   </div>
    <div class="col-md-4">
     <h4  basicCss  [newHighLightClass]="'text-warning'"> using @Input</h4>
      <p  basicCss [newHighLightClass]="'bg-danger'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae tenetur inventore impedit aut consequuntur cumque magni eius iure nisi animi.</p>
   </div>
  </div>
</div>
